/* --- Primitive Tokens --- */

/* --- Semantic Tokens --- */
:root {
	--bg: white;
    --bg-active: lightgrey; 
	--text: black;
	--surface: rgba(15, 23, 42, 0.04);
	--border: rgba(15, 23, 42, 0.08);
	--shadow: 0 25px 50px -12px rgba(15, 23, 42, 0.08);
}

html,
body,
#svelte {
	height: 100%;
	min-height: 100vh;
	margin: 0;
}
body {
	background: var(--bg);
	color: var(--text);
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}
